.bold1{
	display:inline-block;
	width: 150px;
	border: solid;
	height: 150px;
	padding-top: 50px;
	margin-left: 80px;
	
}
.left-column-item{
	border: solid black;
}
#minus,#total,#plus{
	display:inline-block;
	font-size:70px;
	margin: 15px;
}

#buttons, #image{
	display: inline-block;
	vertical-align: top;
}

.button {
	display: block;
	vertical-align: top;
}
.bar1{
	display: inline-block;
	background-color: #001489;
	color: white;
	padding: 20px;
}
